* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 980px) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 460px) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: 'Baskerville';
  font-size: 18px; 
  font-weight: 400;
  line-height: 1.4;
  color: white;
}

h1,
h2 {
  font-family: 'Verdana';
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 4.2rem;
}

h3 {
    font-size: 25px;
}

ul {
  list-style: none;
}

.ul2 {
   line-height: 2;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  width: 80%;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  box-shadow: 0 2px 0 red;
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background-color: blue;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('back1.jpg');
  
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: black;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #2254a3 ;
}

.about > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: white;
  text-align: center;
}

.imgabout {
    width: 340px;
    height: 370px;
    border-radius: 120%;
    margin-top: 30px;

}

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background-image: url('back2.jpg');
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid white;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 100px;
  width: 50%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background-color: #061670;
  box-shadow: 3px 3px 4px black;
  border-radius: 2px;
}

.project:hover {
    background-color: black;
}

.code {
  color: white;
  transition: color 0.6s ease-out;
}

.project:hover .code {
  color: blue;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.project-title:hover {
    color: blue;
    transition: color 0.6s ease-out;
}


.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}


.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background-color: #083b8c;
}

.contact-section-header > h2 {
  font-size: 50px;
  border-bottom: solid white;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 4px 4px 3px red;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
  color: black;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 3px;
  background-color: black;
  border-top: 4px solid red;
}

footer > p {
  margin: 10px;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
